body {
    background-color: #111;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
}
.container {
    padding: 1em;
}
h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form label {
    display: block;
    margin-top: 1em;
}
input, select {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.3em;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 4px;
}
button {
    margin-top: 1em;
    padding: 1em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 6px;
    width: 100%;
}
#chart {
    margin-top: 2em;
}